@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Integrantes:
<ul>
    <li>Nombre: <strong>Nombre1</strong></li>
    <li>Apellido: <strong>Apellido1</strong></li>
    <li>Legajo: <strong>Legajo1</strong></li>
</ul>
